{% extends 'base.html.twig' %}

{% block title %}Bug index{% endblock %}
{% block menu %}
    <nav class="uk-navbar-container uk-card uk-card-default" uk-navbar>
        <div class="uk-navbar-left">
            <img src="/assets/logo.png" width="26px" class="uk-margin-large-left uk-margin-right">
            <ul class="uk-navbar-nav">
                <li><a href="/bug"><span uk-icon="album"></span></a></li>
                <li><a href="/backlog"><span uk-icon="tag"></span></a></li>

            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><a href=""><span uk-icon="cog"></span></a></li>
                <li><a href="">Logout <span uk-icon="sign-out"></span></a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
{% block body %}
    <div class="uk-container">
        <div class="uk-margin-large-top">
            <h3>Backlog list</h3>
            <p>Here is the list of backlog's propositions</p> <a class="uk-button uk-button-default" href="{{ path('backlog_new') }}">Propose</a>
            <hr class="uk-margin-medium-top uk-margin-medium-bottom"/>

            <table class="uk-table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Slug</th>
                    <th>Description</th>
                    <th>Timestamp</th>
                    <th>Notation</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for backlog in backlogs %}
                    <tr>
                        <td>{{ backlog.id }}</td>
                        <td>{{ backlog.title }}</td>
                        <td>{{ backlog.slug }}</td>
                        <td>{{ backlog.description }}</td>
                        <td>{{ backlog.timestamp ? backlog.timestamp|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ backlog.notation }}</td>
                        <td>
                            <a href="{{ path('backlog_show', {'id': backlog.id}) }}">show</a>
                            <a href="{{ path('backlog_edit', {'id': backlog.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">No records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
